.DS_Store
/.build
/Packages
/dist
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
xcuserdata/
DerivedData/
/.deriveddata
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
